#spotEditCon {
    display: flex;
    flex-direction: column;
    
}

#spotEditTitleCon {
    align-self: center;
    width: 425px;
}

#spotEditTitle {
    
}

.spotEditTitleSub {
    margin-bottom: 0rem;
}

.spotEditTitleDetails {
    margin: .4rem 0rem .5rem;
    /* width: 80%; */
}

#spotEditForm {
    width: 425px;
    align-self: center;
}

.inputSection {
    
}

.inputSection2 {
    display: grid;
    grid-template-columns: 62% 5% 33%;
    grid-template-rows: auto;
    /* gap: 1%; */
}

.inputCon {
    margin-bottom: .3rem;
}


.inputLabelCon {
    display: flex;
}

.labelTitle {
    margin: .1rem .3rem .1rem 0rem;
    font-size: 14px;
}


.error {
    color: red;
    /* margin-left: 1rem; */
}

.spotInput {
    width: 100%;
    border: 2px solid black;
    border-radius: 3px;
    background-color: rgb(211, 225, 252);
}

.comma {
    align-self: flex-end;
    width: 100%;
    margin-bottom: 0rem;
    margin-left: .6rem;
}

.inputBorder {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

#spotSubmit {
    align-self: center;
    height: 2rem;
    width: 30%;
    background-color: rgb(255, 92, 92);
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px .5px black;
    /* font-size: 15px; */
    margin: 1rem 40%; 
    cursor: pointer;
}

.spotSubmit:disabled {
    background-color: rgb(197, 197, 197);
    border-color: rgb(120, 120, 120);
    box-shadow: 2px 2px .5px rgb(120, 120, 120);
}

@media (max-width:500px) {
    #spotEditTitleCon {
        width: 90%;
    }

    #spotEditForm {
        width: 90%;
    }
}



